<div class="fixed-action-btn {{icon.position}}">
    {{#link-to "index" class="btn btn-floating btn-large waves-effect waves-light"}}
        <i class="large material-icons">{{icon.name}}</i>
    {{/link-to}}
</div>
