.content-page {
    background: #fff;

    h1 {
        font-family: $display-font;
        font-weight: 900;
        padding-top: .382em;
    }
    h2,
    h3 {
        font-family: $display-font;
        font-weight: 600;
    }
}
