.home-page {
    &.full-screen {
        height: 100vh;
        padding-top: 24vh;

        h1 {
            font-family: $display-font;
            font-weight: 900;
            letter-spacing: .146em;
            line-height: 1.382em;
            text-align: center;
            text-transform: uppercase;

            span,
            span:after {
                color: rgba(255, 255, 255, .9);
                display: inline-block;
                font-weight: 900;
                position: relative;
                text-shadow: .02em .02em 0 $kbcom-background;
                z-index: 100;
            }
            span:after {
                content: attr(data-shadow-text);
                color: rgba(0, 0, 0, .35);
                width: 100%;
                position: absolute;
                text-shadow: none;
                left: .0618em;
                top: .0618em;
                z-index: -1;
                -webkit-mask-image: url(/images/mask.png);
            }
            .tagline {
                color: $button-flat-color;
                font-size: .382em;
                line-height: 1.618em;
                letter-spacing: .1em;
                margin: .382em 0 0;
            }
        }
        .nav-buttons {
            bottom: 1.618em;
            font-size: 1.618rem;
            position: fixed;
            width: 100%;
        }
    }
}
