.resume-page {
    h2 {
        border-bottom: solid $button-flat-color 1px;
        padding-bottom: .382em;
    }
    h3 {
        margin: 1em 0 0;
    }
    .header p {
        margin: 0;
    }
    .contact-links {
        margin: 0;

        li {
            display: inline-block;

            &:after {
                content: "•";
            }

            &:last-child:after {
                content: "";
            }
        }
    }
    .company-name,
    .date-range {
        font-size: 1.618rem;
        margin: 0;
    }
    .date-range {
        color: rgba(0, 0, 0, .4);
    }
}
