body,
html {
    font-size: 1em;
    line-height: 1.618;
}

h1 {
    font-size: 6.854rem;
    margin: 0 0 .382em;
    transition: font-size .5s;
}

h2 {
    font-size: 2.618rem;
}

h3 {
    font-size: 1.618rem;
}

p {
    margin: 1.618rem 0;
}

ul.bulleted li {
    font-size: 1.382rem;
    font-weight: 300;
    list-style-type: square;
    margin: 0 1.618em;
}

@media (max-width: 40rem) {
    h1 {
        font-size: 2.618rem;
    }
    h2 {
        font-size: 1.618rem;
    }
    h3 {
        font-size: 1.382rem;
    }
}
