$font-transition: font-size 1s;

body,
html {
    font-size: 1em;
    line-height: 1.618;
}

h1,
h2,
h3 {
    transition: $font-transition;
}

h1 {
    font-size: 3rem;
    margin: 0 0 .382em;
}

h2 {
    font-size: 1.618rem;
}

h3 {
    font-size: 1.381rem;
}

p {
    margin: 1.618rem 0;
}

ul.bulleted li {
    font-size: 1.382rem;
    font-weight: 300;
    list-style-type: square;
    margin: 0 1.618em;
}

@media (min-width: 23em) and (max-width: 40em) {
    h1 {
        font-size: 4.236rem;
    }
    h2 {
        font-size: 2.618rem;
    }
    h3 {
        font-size: 1.618rem;
    }
}

@media (min-width: 41em) {
    h1 {
        font-size: 6.854rem;
    }
    h2 {
        font-size: 4.236rem;
    }
    h3 {
        font-size: 2.618rem;
    }
}
